.dashboard.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 12px;
}

.grid-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
